.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 258px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 300px;
}

.react-calendar__navigation {
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-top: 1px;
  cursor: pointer;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  margin: 0;
  font-size: 25px;
}

.react-calendar__month-view__weekdays {
  font-weight: bold;
  text-align: center;
  color: gray;
  abbr {
    text-decoration: none;
  }
}

.react-calendar__tile {
  text-align: center;
  padding: 7.5px;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.react-calendar__tile--now {
  background: #f0f8ff;
  border-radius: 50%;
}

.selected-date {
  background: #007bff !important;
  color: white !important;
  font-weight: bold;
  border-radius: 50%;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: lightgray;
}
